<!-- app/views/answer.html.erb -->
<div class="container">
  <h1>Stupid Coaching</h1>
  <blockquote>
    <p><%= params[:question] %></p>
    <footer>—You</footer>
  </blockquote>
  <div class="alert alert-success">
    Great!
    <footer>—Your coach</footer>
  </div>
  <a href="/ask" class="btn btn-link">Ask a new question</a>
</div>
